**/*.pyc
**/*.o
**/*.exe
**/*.ali
**/*.stdout
**/*.stderr
**/b__*
**/.#*
**/*.bexch
**/*-loc.xml
**/obj/**
**/*.dll
**/main
**/lib
**/*.cgpr

obj/**
lang_template/build/**
lang_test/build/**
venv/**
build/**

testsuite/tests/**/out/*
documentation/build
.gdb_history
